@import 'styles/_foundation';

.practice-grid-system{
  border: 1px solid red;

  &__first-column{
    border: 1px solid blue;
    display: flex;

    &__cell-one{
      background-color: green;
      width: 40%;
    }
    &__cell-two{
      background-color: rgb(26, 0, 128);
      width: 20%;
    }
    &__cell-three{
      background-color: rgb(128, 0, 113);
      // width: 50%;
    }
  }


  &__second-column{
    border: 1px solid rgb(0, 255, 170);
  }

  &__vertical-grid{
    border: 1px solid yellow;
  }
}


